python-dotenv
fastapi
bcrypt
sqlalchemy
psycopg2-binary
python-jose

langchain
langchain-community
langchain-openai
langchain-nvidia-ai-endpoints
langgraph
langgraph-supervisor
pypdf
scikit-learn
numpy
python-multipart
gTTS
pymupdf4llm